* {
    color: white;
}

body{
    overflow: hidden;
}

main {
    padding: 20px;
    height: 100vh;
}

nav img {
    width: 80px;
}

#user-input{
    margin: auto;
}

#weatherDataTime {
    padding-top: 40px;
}

.dataTitle {
    height: 20px;
    padding-bottom: 20px;
}

/* Scrollable container */
.weatherDataContainer {
    max-width: 100%; 
    overflow-x: auto; 
    white-space: nowrap; 
}

/* Weather entry styling */
.weatherEntry {
    display: inline-block; 
    margin-right: 2px; 
    border: none;
    color: black;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    white-space: nowrap;
    border-radius: 5px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.4);
}

.dateButton {    
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    width: auto;
    white-space: nowrap;
    border-radius: 10px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.4);
}

/* Hover */
.dateButton:hover {
    background-color: rgba(255, 255, 255, 0.6); 
}

/* scrollbar Styling */
::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #b7bcc4; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7f838a; 
}