nav img {
    width: 80px;
}


#user-input{
    width: 500px;
    margin: auto;
}

#weatherDataTime {
    padding-top: 40px;
}

.dataTitle {
    height: 20px;
    padding-bottom: 20px;
}

/* Scrollable container */
.weatherDataContainer {
    max-width: 100%; 
    overflow-x: auto; 
    white-space: nowrap; 
}

/* Weather entry styling */
.weatherEntry {
    display: inline-block; 
    margin-right: 20px; 
}